@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);
@import url(http://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Alegreya:700);
h1 {
    font-family: 'Alegreya', serif;
    font-weight: 300;
    line-height: 46px;
    font-size: 32px;
    margin: 0 0 43px 0;
}
h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 26px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 10px 0;
}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

.header {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 120px;
    background: rgba(60, 63, 65, 1.0);
    font-size: 20px;
    display: none;
}

ul {
    list-style: none;
    text-align: right;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 30%;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 120px;
}

/* First image (Home)*/
.bgimg-1 {
    background-image: url('assets/Itsme.jpg');
    min-height: 100%;
}

/* Second image  (Projects)*/
.bgimg-2 {
    background-image: url("assets/bgImages/7c5b501.jpg");
    min-height: 400px;
}

/* Third image (Experience) */
.bgimg-3 {
    background-image: url("assets/bgImages/9e0531d.jpg");
    min-height: 400px;
}

.display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
.first{
    left:70%;
}

.display-container {
    position: relative;
    opacity: 0.9;
    color: #fff !important;
    letter-spacing: 10px;
    font-size: 36px !important
}

.logo {
    width: 120px;
    height: 120px;
    margin-top: 20px;
    background-size: contain;
}

.away {
    margin-left: 110px !important;
    display: none;
    background: rgb(0, 0, 0); /*This is for ie8 and below */
    background: rgba(0, 0, 0, 0.0);
    width: 91%;
    overflow: hidden;
    color: black;
}
.pro-content img{
    box-shadow: 10px 10px 5px #888888;
    height: 200px;
    width: 320px;
    margin: 0 10px 0 10px ;
}
.pro-content{
    margin: 10px 0 10px 0;
    color: #707C80;
    width:100%;
    clear: both;
    height: 200px;
}
.pro-content:nth-child(even) {
    background: #FFF
}
.pro-content:nth-child(odd) {
    background: #EFEFEF;
    text-align: right;
}
.change {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 23px 0;
    clear: both;
}
div a:link {
    color: #76323F;
    text-decoration: none;
}
div a:visited {
    color: darkgreen;
}
.b{
    color: white;
    text-decoration: none;
}
.b a:visited{
    color: #F0FFFF;
}
a:hover {
    color: #01b239;
    text-decoration: none;
}
li a:focus {
    color: #01b239;
}


.footer {
    padding: 30pt 0 30pt 120pt;
    background-image: url("assets/bgImages/9e0531d.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}

@media (max-width: 800px) {
    .header {
        position: relative;
        background-color: white;
        color: black;
        font-size: 20px;
        width: 100%;
    }

    .bgimg-1, .bgimg-2, .bgimg-3 {
        margin-left: 0 !important;
    }

    .bgimg-1 {
        background-attachment: scroll;
    }
    .bgimg-2, .bgimg-3{
        min-height: 300px;
    }
    .first {
        left: 50%;
        top: 80%;
    }
    ul {
        list-style: none;
        padding: 0 20px 0 0;
    }

    ul:last-child {
        display: none;
    }

    li {
        margin-bottom: 10px;
        border-bottom: 1px solid dimgrey;
    }
    .pro-content{
        margin: 10px 0 250px 0;
        height: 200px;
    }
    .pro-content img{
        margin: 0 0 10px 0 ;
    }
    .away {
        margin-left: 15px !important;
        margin-top: 0;
    }

    .change {
        font-size: 20px !important;
    }

    .logo {
        display: block;
        width: 230px;
        height: 186px;
        float: left;
        margin-top: 20px;
    }

    .thenav {
        float: right;
        margin-left: auto;
    }

    a:link.b {
        color: black;
    }

    a:visited.b {
        color: black;
    }

    a:hover {
        color: #01b239;
        font-size: 20px;
    }

    .footer {
        padding: 20pt 0 20pt 0
    }
}

@media (max-width: 347px) {
    .header {
        color: #000;
    }

    .logo {
        width: 200px;
        height: auto;
        float: left;
        margin-top: 30px;
    }

    ul {
        list-style: none;
        padding: 0 5px 0 0;
        text-align: center !important;
    }

    li {
        margin-bottom: 5px;
    }

    a:link.b {
        color: black;
    }

    a:visited.b {
        color: black;
    }
}
