.header{
    position: fixed;
	top: 0;
    left: 0;
    bottom: 0;
    width: 135px;
	background-color: white;
	font-size: 20px;
	display:none;

}
ul{
    list-style: none;
    margin: 10px ;
   	padding: 0 20px 0 0;
}
li {
    	margin-bottom: 10px;
}
.away{
	margin-left: 130px !important;
	margin-top: 0;
	display:none;
}
.jumbotron {
    /*background: rgb(200, 54, 54); !* This is for ie8 and below *!*/
    /*background: rgba(200, 54, 54, 0.5);*/
    background: rgba(255,255,255,0.3);
    margin-top: 10px;
    width: 90%;
}
h1{
	font-family:'Cormorant Upright', serif;
	font-size: 100px !important;
	color: white !important;
	text-align: center;
	background-color: #262626;
	height: 150px;
	text-align: center;
	margin-top: 0;
	padding-top: 15px;
	width: 95%;
	border-radius:20px
}
body{
	text-align: left;
	height:100%;
 	width:100%;
	background-color: orange;
}
img{
	border-radius: 20px;
	float: right;
	width: 400px;
}
a:link{
	color: #008000;
	text-decoration: none;
}
a:hover{
	color: #595959;
}
a:active {
    color: #008000;
}
a:visited {
   color: #999999;
}
img{
	height: auto;
	max-width: 100%;
}
.change{
	font-size: 30px !important;
}
.logo{
	width:135px ;
	height:127px;
}
.thenav{
    margin-left: 30%;

}
@media (max-width:850px) {
	.header{
			position: relative;
			background-color:white;
			color: white;
			font-size: 20px;
			width: 100%;
	}
	ul{
			list-style: none;
	   	padding: 0 20px 0 0;
	}
	li {
	    margin-bottom: 10px;
			border-bottom:1px solid dimgrey;
	}
	.away{
		margin-left:0px !important;
		margin-top: 0;
	}
	h1{
		font-size: 40px !important;
		height: 100px;
		text-align: center;
		margin-top: 0;
		padding-top: 10px;
		width: 100%;
	}
	.change{
		font-size: 20px !important;
	}
	.logo{
		width: auto;
		height: 186px;
		float: left;
	}
	.thenav{
		float: right;
		margin-left: auto;
	}

}
@media (max-width:347px){
	.logo{
		width:auto;
		height: 171px;
		float: left;
	}
	ul{
			list-style: none;
	   	padding: 0 5px 0 0;
	   	text-align: center !important;
	}
	li {
	    margin-bottom: 5px;
	}
}
