.Pic {
  border-radius: 50%;
  height: 40vmin;
}

p {
  font-size: calc(10px + 1vmin)!important;
}

.vertical-timeline-element-title {
  font-size: 2.5em!important;
}

.vertical-timeline-element-icon > i, .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav > a {
  color: #9d9d9d!important;
}


@media screen and (min-width:770px){
  .dropdownLi {
    color: black;
    background-color: white;
  }
}



.dropdownLi > a {
  margin: -9px 0px -9px 0px;
  padding: 9px !important;
}

.background {
  position: fixed;
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  background-color: #282c34;
}

@media screen and (min-width:1170px){
  .vertical-timeline-element-content .vertical-timeline-element-date {
    color: white!important;
    padding-left: 10%;
    padding-right: 10%;
  }
}

.App-Inside {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  top: 0px;
  width: 100%;
  max-width: 100vw;
  position: absolute;
}

.Article {
  color: white;
  text-align: left;
  padding: 0px 40px 40px 40px;
}

i {
  padding: 0.5rem;
  color: whitesmoke;
}

i:hover {
  color: yellow;
}

i:visited {
  color: green;
}

a {
  color: red;
}

a:hover {
  text-decoration: none;
  color: green;
}